.head {
  background-color: rgb(180, 7, 180) ;
  color: whitesmoke;
  border: 1px solid rgb(180, 7, 180) !important;
}

.header {
  border-radius: 15px !important;
}

.first-name {
  margin-right: 5px !important;
}

.table {
  margin: 10px 0px 10px 5% !important;
  border: 1px solid lightgray !important;
  width: 90% !important;
}

.btn {
  border: 1.5px solid !important;
  border-radius: 50px !important;
}

.status {
  padding-left: 20px !important;
}

.details {
  border: 1px solid red !important;
  height: 40px;
  width: fit-content;
}

.image, .first-name {
  margin: 5px !important;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

/* active-color = rgb(85, 175, 85) */