.head {
  background-color: rgb(180, 7, 180) ;
  color: whitesmoke;
  border: 1px solid rgb(180, 7, 180) !important;
}

.header {
  border-radius: 15px !important;
}

.first-name {
  margin-right: 5px !important;
}

.table {
  margin: 10px 0px 10px 5% !important;
  border: 1px solid lightgray !important;
  width: 90% !important;
}

.btn {
  border: 1.5px solid;
  border-radius: 50px;
}

.status {
  padding-left: 40px !important;
}

/* active-color = rgb(85, 175, 85) */