 .parent-container{
    display: flex;
    height: 100vh;
    
} 

.stat-div .graph-container{
    width: 400px;
}

.graph-container img{
    width: 100%;
}
.cards{
    width: 320px;
    height: 200px;
    border-radius: 20px;
    background-image: url(./Images/wave-haikei\ \(3\).svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    margin: auto;
    margin-top: 20px;
    
}
.cards h4,
.cards p,
.cards h3{
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
}
.visa-container{
    width: 100px;
}
.visa-container img{
    width: 100%;
}

/* Table stylings */
.table-div{
    margin-top: 40px ;
}
.table-header{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}
.logo-div{
    width: 60px;
    display: flex;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    width: 100%;
    margin-right: 20px;
    border-radius: 20px;
}
.row-div{
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin-top: 30px;
}  


/* media query */

@media screen and (max-width: 912px){
    .row-div{
        display: flex;
        flex-direction: column;
    }
    .graph-container{
        width: 280px;
        margin: auto;
    }
    .cards{
        width: 300px;
    }
    .logo-div p{
        display: none;
    }
    .logo{
        margin-right: 5px;
    }
    .row-div{
        gap: 30px;
    }
    
} 

@media screen and (max-width: 280px){
    .graph-container{
        width: 150px;
        margin: auto;
    }
    .cards{
        width: 200px;
        margin: auto;
    }
}

/* @media screen and (min-width: 768px) and (max-width: 912px) {
    .parent-container{
        margin-top: 50px;
    }
    .graph-container{
        width: 350px;
    }
    .cards{
        width: 280px;
    }
    .row-div{
        display: grid;
        grid-template-columns: 1fr;
    }
}  */