.nav{
    background-color: rgb(190, 162, 126);
    /* margin-bottom: 50px !important; */
    /* width: 350% !important; */
}

.brand {
    color: whitesmoke !important;
    font-weight: 800;
    font-family: serif;
    font-size: 30px;
}
.content{
    color: white !important;
    float: left;
    margin:2px 0px 0px 10px;
}