.nav{
    background-color: rgb(190, 162, 126);
}

.brand {
    color: whitesmoke !important;
    font-weight: 800;
    font-family: serif;
    font-size: 30px;
}

.span {
    font-size: 18px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    margin-left: -20px;
    float: left;
}

.content{
    color: white !important;
    float: left;
    margin:2px 0px 0px 10px;
}